<section class="text-gray-400 bg-gray-900 body-font" {{ attributes }}>
    <div class="container px-5 py-24 mx-auto">
        {% if page > 1 %}
            <div class="ProductGrid_page" id="page--{{ page - 1 }}" data-live-ignore="true"></div>
        {% endif %}

        <div class="flex flex-wrap -m-4 ProductGrid_page" id="page--{{ page }}" data-live-ignore="true">
            {% for item in this.items %}
                <twig:Content:ItemListing content="{{ item }}"/>
            {% endfor %}
        </div>

        <div style="display: grid; place-content: center;padding-block: 2rem;">
            {% if this.hasMore %}
                <button data-action="live#action" data-live-action-param="more">
                    Load More
                </button>
            {% else %}
                <span class="code">The End</span>
            {% endif %}
        </div>
    </div>
</section>