<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>{% block title %}Ynohtna.fr{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>{% block icon %}🎶️{% endblock %}️</text></svg>">

    {% block preconnect %}{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body id="{% block id %}base{% endblock %}" class="min-h-screen text-gray-400 bg-gray-900 body-font">
{{ include('partials/_header.html.twig') }}

{% block body %}{% endblock %}

{{ include('partials/_footer.html.twig') }}
</body>
</html>
